---
layout: page
title: Projects
redirect_from:
  - /projects/pysecmaster/
---

<ul class="posts">
{% for project in site.data.projects %}
    <li>
        {% if project.url %}
            {% if project.url contains "https://" %}
                <h3><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></h3>
            {% else %}
                <h3><a href="{{ project.url | prepend: site.baseurl }}">{{ project.name }}</a></h3>
            {% endif %}
        {% else %}
            <h3>{{ project.name }}</h3>
        {% endif %}
        <p>{{ project.descr | markdownify }}</p>
    </li>
{% endfor %}
</ul>
