<footer>
    <ul>
        <li>
            <a href="{{ "/" | prepend: site.baseurl }}">/</a>
        </li>
        {% if site.github.username %}
        <li>
            <a href="https://github.com/{{ site.github.username }}">
                <i class="fa fa-github"></i>
            </a>
        </li>
        {% endif %}
        {% if site.twitter.username %}
        <li>
            <a href="https://twitter.com/{{ site.twitter.username }}">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        {% endif %}
        {% if site.linkedin.username %}
        <li>
            <a href="https://linkedin.com/in/{{ site.linkedin.username }}">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        {% endif %}
    </ul>    
</footer>
